*.so
*.so.dSYM
*.dll
*.o
/pugl-repo/.clang-format
/pugl-repo/.clang-tidy
/pugl-repo/.clant.json
/pugl-repo/.editorconfig
/pugl-repo/.git
/pugl-repo/.gitattributes
/pugl-repo/.gitignore
/pugl-repo/.gitlab-ci.yml
/pugl-repo/.gitmodules
/pugl-repo/.includes.imp
/pugl-repo/bindings/
/pugl-repo/include/.clang-tidy
/pugl-repo/meson.build
/pugl-repo/meson/
/pugl-repo/meson_options.txt
/pugl-repo/scripts/
/pugl-repo/src/.clang-tidy
/pugl-repo/doc/
/pugl-repo/examples/
/pugl-repo/pugl.pc.in
/pugl-repo/pugl/pugl.hpp
/pugl-repo/pugl/pugl.ipp
/pugl-repo/pugl/pugl_cairo.hpp
/pugl-repo/pugl/pugl_gl.hpp
/pugl-repo/pugl/pugl_stub.hpp
/pugl-repo/resources/
/pugl-repo/shaders/
/pugl-repo/test/
/pugl-repo/waf
/pugl-repo/waflib
/pugl-repo/wscript
/src/sandbox.mk
/src/build

