*.so
*.so.dSYM
*.dll
*.o
/pugl-repo/.clang-tidy
pugl-repo/.clang-format
/pugl-repo/.editorconfig
/pugl-repo/.gitmodules
/pugl-repo/.git
/pugl-repo/.gitignore
/pugl-repo/.gitattributes
/pugl-repo/.gitlab-ci.yml
/pugl-repo/doc/
/pugl-repo/pugl/pugl.ipp
/pugl-repo/pugl/pugl_cairo.hpp
/pugl-repo/pugl/pugl_gl.hpp
/pugl-repo/pugl/pugl_stub.hpp
/pugl-repo/pugl.pc.in
/pugl-repo/resources/
/pugl-repo/shaders/
/pugl-repo/test/
/pugl-repo/examples/
/pugl-repo/waf
/pugl-repo/waflib
/pugl-repo/wscript
/src/sandbox.mk
/src/build

